.calc-main-body {
  margin-top: 20px;
  width: 350px;
}
.row {
  margin-top: 5px;
}
.btn {
  height: 50px;
}
.btn-enter {
  height: 105px;
}
#calc-display {
  font-size: 30px;
}
#btns-last-2-rows {
  margin-top: 0;
}
